body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #FBF4E2;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.app {
    margin: 100px 0 100px 0;
    width: 600px;
}

.app h1 {
    color: #4d4d4d;
    font-size: 100px;
    font-weight: 100;
}


/*placeholders*/

.app input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 200;
    color: #767676;
}

.app input::-moz-placeholder {
    font-style: italic;
    font-weight: 200;
    color: #767676;
}

.app .editbox {
    color: red;
    width: 320px;
    font-size: 24px;
}

.new-item {
    padding: 0 0 0 64px;
}

.app .filter label {
    background: #eee;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 8px 0 0;
    padding: 8px 16px;
    cursor: pointer;
}

.app .filter label:hover {
    background: #ccc;
}

.item span{
    font-size:24px;
}

.item input[type=checkbox]{
    transform: scale(1.6);
}

/* TODO add strikethrough on completed items */